nav {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 15vw;
}
nav a {
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    background-color: blue;
    text-decoration: underline; /* this is the default*/
    transition: background-color 1.5s;
}

nav a:hover{
    background-color: red;
}

header, section {
    overflow: auto;
    box-sizing: border-box;
  }

  section {
    padding: 0.5em;
  }
